<!DOCTYPE html>
<html>
<head>
  <title>Tripadvisor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>
    h1{
      text-align: center;
      padding:20px;
    }
    a{
        margin:15px;
        background-color:white;
    }

    /* unvisited link */
    a:link {
        color: green;
        background-color:white;
    }
    /* visited link */
    a:visited {
        color: blue;
        background-color:white;
    }
    /* mouse over link */
    a:hover {
        color: black;
        background-color:gray;
    }
    /* selected link */
    a:active {
        color: gray;
        background-color:gray;
    }
  </style>
</head>
<body>

<%= yield %>
</body>
</html>
